body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.icon {
    background-image: url('../images/icon.png');
    background-position: top right;
    background-repeat: no-repeat;
}
.container {
    max-width: 1000px;
    margin: 30px auto;
}