.filters {
    color: white;
    height: 70px;
    width: 100% of the container;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center; 
}
section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    float: right;
    height: 48px;
    border: none;
    border-radius: 4px;
    width: 20%;
    margin-right: 30px;
    opacity: 1;
}
section.filters button:hover {
    opacity: 0.9;
}
.locations, .amenities {
    display: inline-block;
    height: 100 of the section filters;
    width: 25% of the section filters;
    padding-left: 50px;
    border-right: 1px;
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.locations h3, .amenities h3 {
    font-weight: 600;   
}
.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    height: 50%;
    padding: 4.5px;
}